

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label{
width: 200px; 
}

.todos{
  background-color: #0071f388;
  box-shadow: black 5px 5px 10px;
  text-align: center;
  padding: 10px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
